<div class="order-container">
    <div class="input-form">
        <input type="text" name="" id="">
        <button>Get Orders</button>
    </div>
    <div class="display-form">
        <table>
            <tr>
                <th>Order number</th>
                <th>Name</th>
                <th>vin</th>
                <th>date</th>
                <th>parts</th>
            </tr>
            <tr>
                <td>123</td>
                <td>gigel</td>
                <td>12536112</td>
                <td>30.25.26</td>
                <td>
                    <span>partnumber </span>
                    <span>5</span>
                </td>
            </tr>
        </table>

    </div>
</div>
